body {
    height: 100%;
    background-image: url("../image/bg.jpg");
}
.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-register {
    margin-top: 80px;
    font-weight: 400;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
form a{
    display: inline-block;
    margin-top: 25px;
    font-size: 12px;
    line-height: 10px;
}
